<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.currency.tomy</string>
	<key>connections</key>
	<dict>
		<key>04B7A3AD-B75C-4975-A962-F15319251CDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2249B6CD-6CC0-4019-9BCD-9DD490BC2CF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>076F41F4-B7BA-4F1A-872C-C1D49034DD7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9ED33B4-199D-41E8-9156-EF03F6AC2424</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>22B24148-302E-45C3-868F-163D46096CAF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12FD751F-A516-4064-AF3B-A5EB4DD32CBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>283DAEE5-EB32-4A9B-A99B-E115164AF0CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>283DAEE5-EB32-4A9B-A99B-E115164AF0CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C88F188B-CF51-4E6A-A989-74E113612621</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3401A8F2-69A9-4460-ACDA-DBAF0EC332C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF9ADA6E-47BF-4A17-BA51-6B48756365D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41070F78-DC82-4B0F-B4C0-6305ABC78096</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2249B6CD-6CC0-4019-9BCD-9DD490BC2CF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4AAAFC0A-E6AE-4B8E-B429-739DE70648DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>076F41F4-B7BA-4F1A-872C-C1D49034DD7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>532FEEA9-FDF4-46A2-883F-35D78A7B76E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E56523EB-34C2-4640-A82E-0591491859DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69525402-E1B6-44B2-AC3D-8CAE8D6CCDC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AA1C76E-BDDC-4780-8D23-8C696E049932</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>744D6D8C-2F3F-4634-86E7-7DB0393AA9E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B99185CE-326C-4862-98C3-1766D4FB0CAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AA1C76E-BDDC-4780-8D23-8C696E049932</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2249B6CD-6CC0-4019-9BCD-9DD490BC2CF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>935E3039-D682-4DE5-A4D2-A2C368DBB0E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3401A8F2-69A9-4460-ACDA-DBAF0EC332C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>22B24148-302E-45C3-868F-163D46096CAF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9772E73-1644-498C-BDAD-FC6C51258AB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>935E3039-D682-4DE5-A4D2-A2C368DBB0E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF9ADA6E-47BF-4A17-BA51-6B48756365D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04B7A3AD-B75C-4975-A962-F15319251CDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E56523EB-34C2-4640-A82E-0591491859DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5533739-2919-4018-9E4A-936A33778B64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9ED33B4-199D-41E8-9156-EF03F6AC2424</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69525402-E1B6-44B2-AC3D-8CAE8D6CCDC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tomy Hsieh</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Currency Converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B99185CE-326C-4862-98C3-1766D4FB0CAA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>cur</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Converting...</string>
				<key>script</key>
				<string>python main.py convert $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type "cur-help" for more information</string>
				<key>title</key>
				<string>Convert Currency</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>744D6D8C-2F3F-4634-86E7-7DB0393AA9E8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python main.py add $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F9ED33B4-199D-41E8-9156-EF03F6AC2424</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>add-cur</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Currencies...</string>
				<key>script</key>
				<string>python main.py load_all_currencies $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter a currency name</string>
				<key>title</key>
				<string>Add a new currency to favorite list</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4AAAFC0A-E6AE-4B8E-B429-739DE70648DC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Currency added✅</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>69525402-E1B6-44B2-AC3D-8CAE8D6CCDC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>quit</string>
						<key>outputlabel</key>
						<string>add</string>
						<key>uid</key>
						<string>22B24148-302E-45C3-868F-163D46096CAF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>quit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>076F41F4-B7BA-4F1A-872C-C1D49034DD7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>add-cur</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8AA1C76E-BDDC-4780-8D23-8C696E049932</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Currency removed✅</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CF9ADA6E-47BF-4A17-BA51-6B48756365D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rm-cur</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Currencies...</string>
				<key>script</key>
				<string>python main.py load_favorite_currencies $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter a currency name</string>
				<key>title</key>
				<string>Delete a currency from favorite list</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A9772E73-1644-498C-BDAD-FC6C51258AB1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python main.py remove $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3401A8F2-69A9-4460-ACDA-DBAF0EC332C3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>quit</string>
						<key>outputlabel</key>
						<string>remove</string>
						<key>uid</key>
						<string>22B24148-302E-45C3-868F-163D46096CAF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>quit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>935E3039-D682-4DE5-A4D2-A2C368DBB0E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>rm-cur</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>04B7A3AD-B75C-4975-A962-F15319251CDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Alfred" to search "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2249B6CD-6CC0-4019-9BCD-9DD490BC2CF3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python main.py move $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>283DAEE5-EB32-4A9B-A99B-E115164AF0CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mv-cur</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Currencies...</string>
				<key>script</key>
				<string>python main.py load_favorite_currencies $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter a currency name</string>
				<key>title</key>
				<string>Arrange orders of the favorite list</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>12FD751F-A516-4064-AF3B-A5EB4DD32CBE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Currency moved to new position✅</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C88F188B-CF51-4E6A-A989-74E113612621</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>base-cur</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Currencies...</string>
				<key>script</key>
				<string>python main.py load_all_currencies $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter a currency name</string>
				<key>title</key>
				<string>Setting a new base currency</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>532FEEA9-FDF4-46A2-883F-35D78A7B76E3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python main.py base $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E56523EB-34C2-4640-A82E-0591491859DE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Base Currency Changed✅</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B5533739-2919-4018-9E4A-936A33778B64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cur-help</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>python main.py help_me</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>41070F78-DC82-4B0F-B4C0-6305ABC78096</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04B7A3AD-B75C-4975-A962-F15319251CDB</key>
		<dict>
			<key>xpos</key>
			<integer>875</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>076F41F4-B7BA-4F1A-872C-C1D49034DD7E</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>12FD751F-A516-4064-AF3B-A5EB4DD32CBE</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>2249B6CD-6CC0-4019-9BCD-9DD490BC2CF3</key>
		<dict>
			<key>note</key>
			<string>Direct to corresponding query</string>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>283DAEE5-EB32-4A9B-A99B-E115164AF0CD</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>3401A8F2-69A9-4460-ACDA-DBAF0EC332C3</key>
		<dict>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>41070F78-DC82-4B0F-B4C0-6305ABC78096</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>4AAAFC0A-E6AE-4B8E-B429-739DE70648DC</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>532FEEA9-FDF4-46A2-883F-35D78A7B76E3</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>69525402-E1B6-44B2-AC3D-8CAE8D6CCDC7</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>744D6D8C-2F3F-4634-86E7-7DB0393AA9E8</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>8AA1C76E-BDDC-4780-8D23-8C696E049932</key>
		<dict>
			<key>xpos</key>
			<integer>875</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>935E3039-D682-4DE5-A4D2-A2C368DBB0E8</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>A9772E73-1644-498C-BDAD-FC6C51258AB1</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>B5533739-2919-4018-9E4A-936A33778B64</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>B99185CE-326C-4862-98C3-1766D4FB0CAA</key>
		<dict>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>C88F188B-CF51-4E6A-A989-74E113612621</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>CF9ADA6E-47BF-4A17-BA51-6B48756365D8</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>E56523EB-34C2-4640-A82E-0591491859DE</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>F9ED33B4-199D-41E8-9156-EF03F6AC2424</key>
		<dict>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
