<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tech.tomy.coon</string>
	<key>connections</key>
	<dict>
		<key>076F41F4-B7BA-4F1A-872C-C1D49034DD7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9ED33B4-199D-41E8-9156-EF03F6AC2424</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>22B24148-302E-45C3-868F-163D46096CAF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12FD751F-A516-4064-AF3B-A5EB4DD32CBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D16B0AF-C5FB-4F9C-8F6C-BCD639702D0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>23556982-ED77-4A8C-81B4-E55098B8E45C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9772E73-1644-498C-BDAD-FC6C51258AB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>283DAEE5-EB32-4A9B-A99B-E115164AF0CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C88F188B-CF51-4E6A-A989-74E113612621</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3401A8F2-69A9-4460-ACDA-DBAF0EC332C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF9ADA6E-47BF-4A17-BA51-6B48756365D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B16E651-3F46-4B89-AA1A-1054F5EB1060</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2806060A-7C12-4CCA-88D4-49C168F797D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41070F78-DC82-4B0F-B4C0-6305ABC78096</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>030A8EFF-8318-4D69-9906-F7E0E811D0C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>47ED16A9-7ED0-4751-AB2A-63903ED24ACA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AAAFC0A-E6AE-4B8E-B429-739DE70648DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4AAAFC0A-E6AE-4B8E-B429-739DE70648DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>076F41F4-B7BA-4F1A-872C-C1D49034DD7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D16B0AF-C5FB-4F9C-8F6C-BCD639702D0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7B2018A-F906-43D2-BD30-6A8FA799CC91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69525402-E1B6-44B2-AC3D-8CAE8D6CCDC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D049F48-ABA2-49AC-8289-8A04AF473C00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>744D6D8C-2F3F-4634-86E7-7DB0393AA9E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D14CD92-F2BD-4BA2-958F-C8939942BC48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>7D14CD92-F2BD-4BA2-958F-C8939942BC48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA7F26AE-131A-47AA-8990-691E1D1251AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>935E3039-D682-4DE5-A4D2-A2C368DBB0E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3401A8F2-69A9-4460-ACDA-DBAF0EC332C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>22B24148-302E-45C3-868F-163D46096CAF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9772E73-1644-498C-BDAD-FC6C51258AB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>935E3039-D682-4DE5-A4D2-A2C368DBB0E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA7F26AE-131A-47AA-8990-691E1D1251AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6252CD30-4BFA-470C-AB2A-AB92BE252C15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E321582E-0B25-4EE1-A3F5-155AB13C2188</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B99185CE-326C-4862-98C3-1766D4FB0CAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B99185CE-326C-4862-98C3-1766D4FB0CAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03371CE3-8010-4C06-8C31-370645716212</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C88F188B-CF51-4E6A-A989-74E113612621</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E99A7B27-F963-4EC8-95A1-2BAA11A28BEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF9ADA6E-47BF-4A17-BA51-6B48756365D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03BDC0A3-78E1-43EB-B8EA-2A4021B2D558</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E41B05CE-F31E-4253-B5D2-2A57BEF6DF3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B16E651-3F46-4B89-AA1A-1054F5EB1060</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7B2018A-F906-43D2-BD30-6A8FA799CC91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>283DAEE5-EB32-4A9B-A99B-E115164AF0CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>22B24148-302E-45C3-868F-163D46096CAF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0AC8FE47-8589-47CA-852A-07A50A4D7EA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6A00EE1C-1CF6-443B-852C-6933AA62ADB6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>09959378-84B7-4818-983F-D51726A63FD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9ED33B4-199D-41E8-9156-EF03F6AC2424</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69525402-E1B6-44B2-AC3D-8CAE8D6CCDC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tomy Hsieh</string>
	<key>description</key>
	<string>Currency Conversion with Open Exchange Rates</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Coon</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>cur {var:split2}</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>6252CD30-4BFA-470C-AB2A-AB92BE252C15</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B99185CE-326C-4862-98C3-1766D4FB0CAA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>cur</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Auto-updating rates...</string>
				<key>script</key>
				<string>python main.py convert $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Convert Currency</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>744D6D8C-2F3F-4634-86E7-7DB0393AA9E8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>redirect</string>
						<key>outputlabel</key>
						<string>redirect</string>
						<key>uid</key>
						<string>E321582E-0B25-4EE1-A3F5-155AB13C2188</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>copy</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AA7F26AE-131A-47AA-8990-691E1D1251AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>7D14CD92-F2BD-4BA2-958F-C8939942BC48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>03371CE3-8010-4C06-8C31-370645716212</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python main.py add $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F9ED33B4-199D-41E8-9156-EF03F6AC2424</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>add</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>47ED16A9-7ED0-4751-AB2A-63903ED24ACA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>add</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>7D049F48-ABA2-49AC-8289-8A04AF473C00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cur-add</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>python main.py load all $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>-add: Add a new currency to favorite list</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4AAAFC0A-E6AE-4B8E-B429-739DE70648DC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Currency added✅</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>69525402-E1B6-44B2-AC3D-8CAE8D6CCDC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>quit</string>
						<key>outputlabel</key>
						<string>add</string>
						<key>uid</key>
						<string>22B24148-302E-45C3-868F-163D46096CAF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>quit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>076F41F4-B7BA-4F1A-872C-C1D49034DD7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Currency removed✅</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CF9ADA6E-47BF-4A17-BA51-6B48756365D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cur-rm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>python main.py load favorites $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>-rm: Remove a currency from favorite list</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A9772E73-1644-498C-BDAD-FC6C51258AB1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>remove</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>23556982-ED77-4A8C-81B4-E55098B8E45C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python main.py remove $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3401A8F2-69A9-4460-ACDA-DBAF0EC332C3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>remove</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>03BDC0A3-78E1-43EB-B8EA-2A4021B2D558</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>quit</string>
						<key>outputlabel</key>
						<string>remove</string>
						<key>uid</key>
						<string>22B24148-302E-45C3-868F-163D46096CAF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>quit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>935E3039-D682-4DE5-A4D2-A2C368DBB0E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cur-arr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>python main.py arrange $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>-arr: Arrange orders of the favorite list</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>12FD751F-A516-4064-AF3B-A5EB4DD32CBE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python main.py save_arrange $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>283DAEE5-EB32-4A9B-A99B-E115164AF0CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Currency arrangement saved✅</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C88F188B-CF51-4E6A-A989-74E113612621</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>save</string>
						<key>outputlabel</key>
						<string>save</string>
						<key>uid</key>
						<string>22B24148-302E-45C3-868F-163D46096CAF</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>cancel</string>
						<key>outputlabel</key>
						<string>cancel</string>
						<key>uid</key>
						<string>6A00EE1C-1CF6-443B-852C-6933AA62ADB6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>redirect</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E7B2018A-F906-43D2-BD30-6A8FA799CC91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>5D16B0AF-C5FB-4F9C-8F6C-BCD639702D0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>E99A7B27-F963-4EC8-95A1-2BAA11A28BEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>0AC8FE47-8589-47CA-852A-07A50A4D7EA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>cur-arr {query}</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>09959378-84B7-4818-983F-D51726A63FD7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python main.py refresh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3B16E651-3F46-4B89-AA1A-1054F5EB1060</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Currency rates have refreshed✅</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2806060A-7C12-4CCA-88D4-49C168F797D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cur-ref</string>
				<key>subtext</key>
				<string>Refresh will runs automatically, but you can still trigger this manually</string>
				<key>text</key>
				<string>-ref: Refresh Currency List &amp; Rates</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E41B05CE-F31E-4253-B5D2-2A57BEF6DF3E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cur-help</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>python main.py help_me</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>or opens up more comprehensive documentation</string>
				<key>title</key>
				<string>-help: Show a list of example usage</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>41070F78-DC82-4B0F-B4C0-6305ABC78096</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>030A8EFF-8318-4D69-9906-F7E0E811D0C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>&lt;div align="center"&gt;
    &lt;img src="./src/icon.png" width="200" height="200"&gt;
&lt;/div&gt;

# Coon

Coon is an Alfred workflow which do currency conversion by using live currency rates from Open Exchange Rates API. For a complete list of support currencies, see [Currencies](./Currencies.md).

&lt;!-- MarkdownTOC autolink="true" --&gt;

- [Setup](#setup)
  - [Prerequisite](#prerequisite)
  - [Installation](#installation)
  - [Config &amp; Settings](#config--settings)
- [User Guide](#user-guide)
  - [Classic Methods](#classic-methods)
  - [Setting &amp; Help Methods](#setting--help-methods)
  - [Support Currencies](#support-currencies)
- [Credit &amp; License](#credit--license)

&lt;!-- /MarkdownTOC --&gt;

## Setup

### Prerequisite

* Any macOS which has built-in Python 2.7
  * That normally referred to macOS 10.6+, but things will likely change following the release of Catalina (10.15)
* Alfred 3+ with [Powerpack](https://www.alfredapp.com/powerpack/)

### Installation

* Head overto [Releases](https://github.com/tomy0000000/Coon/releases), download the latest version
* Double-click on `Coon.alfredworkflow` to install
* Auto-Update of workflow is enabled by default, but can be switch by sending query
  * `cur workflow:autoupdate` for enabling Auto-Update
  * `cur workflow:noautoupdate` for disabling Auto-Update

### Config &amp; Settings

* Config can be set in [workflow environment variables sheet](https://www.alfredapp.com/help/workflows/advanced/variables/#environment), by pressing `[x]` icon in Alfred Preferences
* Settings is a json file located at `~/Library/Application Support/Alfred/Workflow Data/tech.tomy.coon`, or type the magic arguments `cur workflow:opendata` in Alfred will take you diractly to that diractory
* Please setup your `APP_ID` before your first run, otherwise this workflow won't even work, at all.

| Type     | Name        | Function                                                     | Default                        |
| -------- | ----------- | ------------------------------------------------------------ | ------------------------------ |
| Config   | `APP_ID`    | Credentials to aquire currencies rates, can be obtain at [Open Exchange Rates](https://openexchangerates.org/) for free |                                |
| Config   | `PRECISION` | Round off position after decimal point                       | `2`                            |
| Config   | `EXPIRE`    | Threshold to trigger rates update in seconds                 | `300`                          |
| Config   | `BASE`      | Your primary, daily-use currency                             | `USD`                          |
| Settings | `favorites` | Favorite conversion list                                     | `["EUR", "CNY", "JPY", "GBP"]` |

## User Guide

### Classic Methods

The following examples demonstrate the usage with the default config and settings

* `cur`: Convert between all favorite currencies and base currency with 1 unit
![cur](assets/cur.png)
* `cur [value]`: Convert between all favorite currencies and base currency with [value] unit
![cur 200](assets/cur%20200.png)
* `cur [currency]`: Convert between [currency] and base currency with 1 unit
![cur GBP](assets/cur%20GBP.png)
* `cur [value] [currency]`: Convert between [currency] and base currency with [value] unit
![cur 5 GBP](assets/cur%205%20GBP.png)
* `cur [currency_1] [currency_2]`: Convert between [currency_1] and [currency_2] with 1 unit
![cur GBP CAD](assets/cur%20GBP%20CAD.png)
* `cur [value] [currency_1] [currency_2]`: Convert between [currency_1] and [currency_2] with [value] unit
![cur 5 GBP CAD](assets/cur%205%20GBP%20CAD.png)
* Position-insensitive: besides the `cur` keyword, every parameter in the above methods are position-insensitive. Namely, the following query all outputs the same results:
  * `cur 5 GBP CAD`
  * `cur 5 CAD GBP`
  * `cur GBP 5 CAD`
  * `cur CAD 5 GBP`
  * `cur GBP CAD 5`
  * `cur CAD GBP 5`

### Setting &amp; Help Methods

* `cur-add`: Add a new currency to favorite list
* `cur-rm`: Remove a currency from favorite list
* `cur-arr`: Arrange orders of the favorite list
![cur-arr](assets/cur-arr.gif)
* `cur-ref`: Refresh Currency List &amp; Rates
* `cur-help`: Show a list of example usage or opens up this README

### Support Currencies

See [Currencies](./Currencies.md)

## Credit &amp; License

* This project is inspired by [FlyRabbit/alfred3-workflow-CurrencyX](https://github.com/FlyRabbit/alfred3-workflow-CurrencyX)

  I made this spin-off because the original one doesn't work in the way I thought it should be. As I'm trying to tweaking the the old ones, things get more out of control which ended up me deciding to re-write my own version.

* Core Library depends on the work-of-art-library: [deanishe/alfred-workflow](https://github.com/deanishe/alfred-workflow)
* API provided by [Open Exchange Rates](https://openexchangerates.org/)
* Icon licenses as below

| Name              | Author                      | Source                                                       |
| ----------------- | --------------------------- | ------------------------------------------------------------ |
| Main icon         | Freepik                     | [Flaticon](https://www.flaticon.com/free-icon/exchange_1924021) |
| Hint icons        | Maxim Basinski              | [Flaticon](https://www.flaticon.com/packs/universal-icons)   |
| Fiat Currencies   | Freepik                     | [Flaticon](https://www.flaticon.com/packs/countrys-flags)    |
| Cryptocurrencies  | Freepik                     | [Flaticon](https://www.flaticon.com/packs/ecommerce-and-payment-method-logos) |
| EarthCoin (EAC)   | earthcoinreloaded/earthcoin | [GitHub](https://github.com/earthcoinreloaded/earthcoin)     |
| Factom (FCT)      | Factom, Inc.                | [Factom](https://www.factom.com/trademarks/)                 |
| Feathercoin (FTC) | FeatherCoin/Feathercoin     | [GitHub](https://github.com/FeatherCoin/Feathercoin)         |
| VertCoin (VTC)    | vertcoin-project/VertDocs   | [GitHub](https://github.com/vertcoin-project/VertDocs)       |

* Any source code unmentioned above are released under the [MIT license](https://github.com/tomy0000000/Coon/blob/master/LICENSE)</string>
	<key>uidata</key>
	<dict>
		<key>030A8EFF-8318-4D69-9906-F7E0E811D0C3</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>905</integer>
		</dict>
		<key>03371CE3-8010-4C06-8C31-370645716212</key>
		<dict>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>03BDC0A3-78E1-43EB-B8EA-2A4021B2D558</key>
		<dict>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>076F41F4-B7BA-4F1A-872C-C1D49034DD7E</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>09959378-84B7-4818-983F-D51726A63FD7</key>
		<dict>
			<key>xpos</key>
			<integer>775</integer>
			<key>ypos</key>
			<integer>665</integer>
		</dict>
		<key>0AC8FE47-8589-47CA-852A-07A50A4D7EA5</key>
		<dict>
			<key>xpos</key>
			<integer>775</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>12FD751F-A516-4064-AF3B-A5EB4DD32CBE</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>23556982-ED77-4A8C-81B4-E55098B8E45C</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>2806060A-7C12-4CCA-88D4-49C168F797D6</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>735</integer>
		</dict>
		<key>283DAEE5-EB32-4A9B-A99B-E115164AF0CD</key>
		<dict>
			<key>xpos</key>
			<integer>775</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>3401A8F2-69A9-4460-ACDA-DBAF0EC332C3</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>3B16E651-3F46-4B89-AA1A-1054F5EB1060</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>735</integer>
		</dict>
		<key>41070F78-DC82-4B0F-B4C0-6305ABC78096</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>875</integer>
		</dict>
		<key>47ED16A9-7ED0-4751-AB2A-63903ED24ACA</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>4AAAFC0A-E6AE-4B8E-B429-739DE70648DC</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>5D16B0AF-C5FB-4F9C-8F6C-BCD639702D0F</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>6252CD30-4BFA-470C-AB2A-AB92BE252C15</key>
		<dict>
			<key>xpos</key>
			<integer>775</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>69525402-E1B6-44B2-AC3D-8CAE8D6CCDC7</key>
		<dict>
			<key>xpos</key>
			<integer>775</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>744D6D8C-2F3F-4634-86E7-7DB0393AA9E8</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>7D049F48-ABA2-49AC-8289-8A04AF473C00</key>
		<dict>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>7D14CD92-F2BD-4BA2-958F-C8939942BC48</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>935E3039-D682-4DE5-A4D2-A2C368DBB0E8</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>A9772E73-1644-498C-BDAD-FC6C51258AB1</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>AA7F26AE-131A-47AA-8990-691E1D1251AC</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>B99185CE-326C-4862-98C3-1766D4FB0CAA</key>
		<dict>
			<key>xpos</key>
			<integer>775</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>C88F188B-CF51-4E6A-A989-74E113612621</key>
		<dict>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>CF9ADA6E-47BF-4A17-BA51-6B48756365D8</key>
		<dict>
			<key>xpos</key>
			<integer>775</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>E41B05CE-F31E-4253-B5D2-2A57BEF6DF3E</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>735</integer>
		</dict>
		<key>E7B2018A-F906-43D2-BD30-6A8FA799CC91</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>E99A7B27-F963-4EC8-95A1-2BAA11A28BEA</key>
		<dict>
			<key>xpos</key>
			<integer>1150</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>F9ED33B4-199D-41E8-9156-EF03F6AC2424</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>APP_ID</key>
		<string>48c5e363909e4a2bba48937790c365e7</string>
		<key>BASE</key>
		<string>USD</string>
		<key>EXPIRE</key>
		<string>300</string>
		<key>PRECISION</key>
		<string>2</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>APP_ID</string>
	</array>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/tomy0000000/Coon</string>
</dict>
</plist>
